@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Neue Haas Grotesk Display Pro', Arial, Helvetica, sans-serif;
  user-select: none;
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
/* CSS untuk mengubah warna placeholder */
.custom-placeholder input::placeholder {
  color: white;
}